<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <!-- Textbox for prompt and generate button -->
    <h2>Text to Speech Converter</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p><label for="id1">Prompt:</label><input type="text" id="id1" name="prompt"> </p>
        <p><button type="submit">Generate</button> </p>
    </form>

    <!-- Audio Players with prompt  -->
    {% if audio_files_prompt %}
    {% for audio_file in audio_files_prompt %}
        <p>{{ audio_file.1 }}:</p>
        <audio controls>
            <source src="{{ audio_file.0 }}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    {% endfor %}
    {% endif %}

    <!-- Button to delete audio directory -->
    <form action="{% url 'delete_audio_directory' %}" method="post">
        {% csrf_token %}
        <button type="submit">Clear</button>
    </form>

</body>
</html>